[Unit]
Description=GPodder
After=network.target postgresql.service nginx.service redis.service __APP__-celery.service __APP__-beat.service
Requires=__APP__.socket

[Service]
Type=notify
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/

ExecStart=__INSTALL_DIR__/venv/bin/envdir __INSTALL_DIR__/envs/prod __INSTALL_DIR__/venv/bin/gunicorn -c __INSTALL_DIR__/conf/gunicorn.conf.py mygpo.wsgi:application --bind unix:/run/__APP__.sock
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
