[Unit]
Description=Mygpo socket

[Socket]
ListenStream=/run/__APP__.sock
# Our service won't need permissions for the socket, since it
# inherits the file descriptor by socket activation
# only the nginx daemon will need access to the socket
SocketUser=__APP__
# Optionally restrict the socket permissions even more.
# SocketMode=600

[Install]
WantedBy=sockets.target