[Unit]
Description=GPodder-beat
After=network.target postgresql.service redis.service __APP__.scoket

[Service]
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__

ExecStart=__INSTALL_DIR__/venv/bin/envdir __INSTALL_DIR__/envs/prod __INSTALL_DIR__/venv/bin/celery -A __APP__ beat --pidfile /tmp/celerybeat.pid -S django
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target